<footer>
    <div class="container">
        <ul class="socials">
            <li>
                <a href="{{ site.behance_url }}"><img src="{{ site.url }}/images/icon-behance.svg" alt="Behance"></a>
            </li>
            <li>
                <a href="{{ site.github_url }}"><img src="{{ site.url }}/images/icon-github.svg" alt="Github"></a>
            </li>
            <li>
                <a href="{{ site.linkedin_url }}"><img src="{{ site.url }}/images/icon-linkedin.svg" alt="Linkedin"></a>
            </li>
        </ul>
        <p>{{ site.copyright }}</p>
    </div>
</footer>
<script src="{{ site.url }}{{ "/assets/app.js" | relative_url }}"></script>
