<header>
    <div class="container">
        <nav class="navigation">
            <a href="" class="link-mobile js-link-mobile">
                <img src="images/light_menu32.svg" alt="">
            </a>
            <a href="index.html" class="logo">
                <img src="images/logo.svg" alt="">
            </a>
            <ul>
                <li><a href="#skills">Compétences</a></li>
                <li><a href="projects.html">Mes projets</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="a-propos">
            <h1>
                <span class="light">Gaëtan Ritel</span>
                Développeur & designer web
            </h1>
            <p>
                Titulaire d’un titre professionnel de web designer, autodidacte et en constante veille
                technologique, je conçois et réalise des supports de communication visuelle, des sites et des
                applications web.
            </p>

            <a href="cv-gaetan-ritel.pdf" target="_blank" class="btn">Télécharger mon CV</a>
        </div>
    </div>
</header>
