<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ site.url }}{{ "/assets/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&family=Open+Sans:wght@300;400&display=swap"
            rel="stylesheet">


    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.images_url }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.images_url }}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.images_url }}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.images_url }}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.images_url }}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.images_url }}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.images_url }}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.images_url }}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.images_url }}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.images_url }}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.images_url }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.images_url }}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.images_url }}/favicon-16x16.png">
    <link rel="manifest" href="{{ site.images_url }}/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.images_url }}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="description"
          content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description"
          content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{% if page.img %}{{ page.img }}-medium.jpg{% else %}{{ site.img }}{% endif %}">
    <meta property="og:url" content="{% if page.permalink %}{{ site.url }}{{ page.permalink }}{% else %}{{ site.url }}{% endif %}">
    <meta name="twitter:card" content="summary_large_image">
</head>
