.grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.grid a {
    grid-column: span 4;
}
.grid > a figcaption > p:not(.light) {
  display: none;
}
.grid figure, .grid figure {
    position: relative;
}
.grid figure > figcaption, .grid figure > figcaption {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    text-align: center;
    background: $radial-gradient;
    color: #fff;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid picture, .grid picture,
.grid img, .grid img { width: 100%; }
.grid figcaption p {
    margin: 1em;
    font-family: $font-secondary;
  font-weight: 100;
}
.grid a figure.middle {
    aspect-ratio: 16/9;
    overflow: hidden;
}
.grid a figure.figure16_18 {
    aspect-ratio: 16 /18;
    overflow: hidden;
}

@media screen and (min-width: 768px){
  .grid > a:not(:nth-of-type(3n +1)) {
    grid-column: span 2;
  }
  .grid > a:nth-of-type(3n +1) figcaption > p:not(.light) {
    display: block;
  }
}

@media screen and (min-width: $width-labtop) {
    .grid {
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: auto;
    }
    .grid a {
        grid-column: span 6;
        grid-row: span 2;
    }
    .grid > a:not(:nth-of-type(3n +1)) {
      grid-column: span 3;
      grid-row: span 1;
    }
}
