body {
    font-size: 15px;
    font-family: $font-primary;
    line-height: 1.5;
} 
h1, h2, h3 { font-family: $font-secondary; font-weight: 400; line-height: 1; }
h1.light, h2.light, h3.light { font-weight: 100; }
h1 { font-size: 1.728rem; }
h2 { font-size: 1.44rem; position: relative; }
h3 { font-size: 1.2rem; }
p { max-width: 45rem; }
p.light { font-weight: 300; }
h2:after {
    content: '';
    display: block;
    height: 2px;
    width: 30%;
    background-color: $color-secondary;
    margin: 0 auto;
    position: absolute;
    left: 0;right: 0;
    margin-top: .3rem;
}
main h2 {
    margin: 1em 0;
}
main p {
    margin: 1em 0;
}
@media screen and (min-width: $width-labtop) {
    body { font-size: 16px; }
    h2:after {
        width: 10%;
    }
    h1 { font-size: 3.375rem; }
    h2 { font-size: 2.25rem; position: relative; }
    h3 { font-size: 1.5rem; }
}
@media screen and (min-width: $width-labtop-l) {
    body { font-size: 20px; }
}