.a-la-une h2, .avis h2, .contact h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
// COMPÉTENCES
// ===================================================

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills a {
    position: relative;
    margin: 2rem 0;
    display: block;
    width: 100%;
}
.skills figure {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.skills picture {
    grid-column: span 3;
    width: 100%;
    height: 100%;
    box-shadow: $box-shadow;
}
.skills img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}
.skills figcaption {
    grid-column: 2 / 5;
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: 5px;
    padding: 0.7rem;
    transform: translate(0, -50%);

}
.skills figcaption h2 {
    margin-bottom: .5rem;
}
.skills a:first-of-type {
    margin-top: 0;
}
.skills a:last-of-type {
    margin-bottom: 0;
}
.skills a:last-of-type figure {
    margin-bottom: 0;
}
.skills a:nth-of-type(2n) picture {
    grid-column: 2 / 5;
}
.skills a:nth-of-type(2n) figcaption{
    grid-column: span 3;
}
.skills h2:after { display: none; }

@media screen and (min-width: $width-labtop) {

    $padding: 2.5rem;

    .skills.container { padding: 0; }
    .skills a:first-child figure {
        margin-top: 8rem;
    }
    .skills figure {
        grid-template-columns: repeat(14, 1fr);
        gap: 1rem;
        grid-template-rows: auto;
        margin: 10rem 0;
    }
    .skills picture {
        grid-column: span 8;
        position: relative;
        grid-row: span 2 ;
        box-shadow: none;
        left: -10rem;
        transition: left .4s ease-out, right .5s ease-out, opacity .1s ease-out;
        transition-delay: .1s;
    }
    .skills figcaption {
        grid-column: 10 / 14;
        transform: translate(0,0);
        box-shadow: none;
        padding: $padding;
        margin-top: -$padding;
        background-color: #fff;


        position: relative;
        left: -10rem;
        opacity: 0;
        transition: left .4s ease-out, right .5s, ease-out, opacity .1s ease-out;
        transition-delay: .1s;
    }
    .skills a:nth-of-type(2n) picture { grid-column: 7 / 15; right: -10rem; left: 10rem; }
    .skills a:nth-of-type(2n) figcaption{ grid-column: span 4 ; grid-row: 1/2; right: -10rem; left: 10rem; }
    .skills picture:before {
        content: '';
        display: block;
        position: absolute;
        top: -$padding;
        left: 0;
        right: -$padding;
        background-color: #fff;
        z-index: -1;
        bottom: 0;
    }
    .skills picture:after {
        content: '';
        display: none; // TODO: Remettre
        position: absolute;
        left: 50%;
        bottom: 50%;
        top: -30%;
        right: -40%;
        z-index: -2;
        border: 2px solid $color;
        border-radius: 5px;
        transition: border .3s .5s ease-out, border-image .3s .5s ease-out;
    }
    .skills a:nth-of-type(2n) picture:before {
        content: '';
        display: block;
        position: absolute;
        left: -$padding;right:0;
    }
    .skills a:nth-of-type(2n) picture:after {
        right: 50%;
        left: -40%;
    }
    .skills figcaption h2 { margin-bottom: 2.5rem; }

    .skills figure.active picture {
        left: 0;
        right: 0;
    }
    .skills figure.active figcaption {
        left: 0;
        right: 0;
        opacity: 1;
    }



    // Cadre competences

    $width-border: 2px;
    $animationDuration: .5s;
    .skills picture .box,
    .skills picture .top,
    .skills picture .bottom,
    .skills picture .left,
    .skills picture .right {
        display: block;
        position: absolute;
    }
    .skills picture .box {
        left: 50%;
        bottom: 50%;
        top: -30%;
        right: -40%;
        width: 100%;
        height: 100%;
        z-index: -2;
        border-radius: 5px;
        overflow: hidden;
    }
    .skills a:nth-of-type(2n) .box {
        right: 50%;
        left: -40%;
    }
    .skills picture .top,
    .skills picture .bottom,
    .skills picture .left,
    .skills picture .right {
        display: block;
        position: absolute;
        animation: $animationDuration linear both;
        background-color: $color;
    }

    .skills figure.active .top {
        top: 0;
        left: -3px;
        height: $width-border;
        animation-name: top;
    }
    @-webkit-keyframes top {
        25% {
            width: 0;
        }
        100% {
            width: 103%;
        }
    }

    .skills figure.active .bottom {
        bottom: 0;
        right: -3px;
        height: $width-border;
        animation-name: bottom;
        animation-delay: $animationDuration * 2;
    }
    @-webkit-keyframes bottom {
        0% {
            width: 0;
        }
        100% {
            width: 103%;
        }
    }

    .skills figure.active .left {
        bottom: -3px;
        left: 0;
        width: $width-border;
        animation-name: left;
        animation-duration: $animationDuration * 3;
    }
    @-webkit-keyframes left {
        0% {
            height: 0;
        }
        100% {
            height: 103%;
        }
    }

    .skills figure.active .right {
        top: -3px;
        right: 0;
        width: $width-border;
        animation-name: right;
        animation-delay: $animationDuration;
    }
    @-webkit-keyframes right {
        0% {
            height: 0;
        }
        100% {
            height: 103%;
        }
    }
}


// PROJETS À LA UNE
// ===================================================
.a-la-une a {
    position: relative;
}
.a-la-une figure, .a-la-une picture, .a-la-une img, .a-la-une {
    height: 100%;
    width: 100%;
}
.a-la-une figcaption {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: $radial-gradient-2 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.a-la-une figcaption p {
    font-weight: 100;
}



@media screen and (min-width: $width-labtop) {
    .a-la-une figcaption { opacity: 0; transition: opacity .3s;}
    .a-la-une figure:hover figcaption { opacity: 1; }
}

// AVIS
// ===================================================
.avis-content {
    display: flex;
    align-items: center;
}
.avis-item {
    display: flex;
    flex-basis: 100%;
    box-shadow: $box-shadow;
    border-radius: 5px;
    padding: 0.7rem;
}
.avis-item picture {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    overflow: hidden;
    margin-right: 0.5rem;
}
.avis-item picture > * {
    height: 100%;
    width: 100%;
}
.avis-item .content { width: 100%; }
.avis-item h3, .avis-item p { padding: 0.1rem 0; }
.avis-item .link-site { font-weight: 100; }



// CONTACT
// ===================================================
.contact form {
    margin-top: 2rem;
}
@media screen and (min-width: $width-labtop) {

    .contact form {
        display: grid;
        grid-column: 3 / 11;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .contact .form-group {
        margin: 0;
    }
    .contact .btn {
        margin-right: auto;
        font-size: 1rem;
        padding: 0.75rem 1.25rem;
    }
    .contact .email, .contact .subject { grid-column: span 1; }
    .contact .message { grid-column: span 2; }
}

@media screen and (min-width: $width-labtop-l) {

    .contact {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
    }
    .contact > * {
        flex-basis: 48%;
    }
    .contact form {
        margin-top: 0;
    }
    .contact h2 {
        text-align: left;
    }
    .contact h2:after {
        margin-left: 0;
    }
}
