.project-categories h2, .projects-a-l-une h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.project-categories h2:after, .projects-a-l-une h2:after {
    width: 20%;
}




@media screen and (min-width: $width-labtop) {
    .projects-a-l-une figcaption { opacity: 0; transition: opacity .3s;}
    .projects-a-l-une figure:hover figcaption { opacity: 1; }
}
