<!DOCTYPE html>
<html lang="fr">

{%- include head.html -%}

<body data-background="{{ page.img }}.jpg">

<header>
    <div class="container">

        {%- include nav.html -%}
        <div class="about">
            <h1>
                <span class="light">
                    {% for categorie in site.categories %}
                        {% if page.categories contains categorie.title %}
                            <a href="{{ categorie.permalink }}">{{ categorie.title }}</a>,
                        {% endif %}
                    {% endfor %}
                </span>
                {{ page.h1  }}
            </h1>
            <p>{{ page.description }}</p>
        </div>
    </div>
</header>
{{ content }}
{%- include footer.html -%}

</body>

</html>
